<div class="notfound-bg not-found-panel">
  <div class="notfound-wrapper">
    <div class="not-found-frame">
      <div class="not-found-inner">

        <div class="card-header">
          <span class="error-code">404</span>
          <h1 class="error-title">Not Found</h1>
          <p class="error-subtitle">Requested resource is not available.</p>
        </div>

        <div class="helpful-links">
          <div class="link-item">
            <div class="icon-box">
              <i class="pi pi-table"></i>
            </div>
            <div class="link-text">
              <h4>Frequently Asked Questions</h4>
              <p>Ultricies mi quis hendrerit dolor.</p>
            </div>
          </div>

          <div class="divider"></div>

          <div class="link-item">
            <div class="icon-box">
              <i class="pi pi-question-circle"></i>
            </div>
            <div class="link-text">
              <h4>Solution Center</h4>
              <p>Phasellus faucibus scelerisque eleifend.</p>
            </div>
          </div>

          <div class="divider"></div>

          <div class="link-item">
            <div class="icon-box">
              <i class="pi pi-unlock"></i>
            </div>
            <div class="link-text">
              <h4>Permission Manager</h4>
              <p>Accumsan in nisl nisi scelerisque</p>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <p-button label="Go to Dashboard" routerLink="/app/customer/dashboard" styleClass="custom-btn"></p-button>
        </div>

      </div>
    </div>
    
  </div>
</div>